mcp-gmail-server/n8n-email-workflow.json
{
  "name": "WIH Email Management",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0,30 6-19 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "fetch-joshua",
      "name": "Fetch Joshua Unread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 180],
      "parameters": {
        "method": "GET",
        "url": "https://business-brain-production-0820.up.railway.app/api/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "wih-rest-n8n-2026" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "in:inbox is:unread" },
            { "name": "account", "value": "joshua" },
            { "name": "max", "value": "25" }
          ]
        }
      }
    },
    {
      "id": "fetch-docs",
      "name": "Fetch Docs Unread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 420],
      "parameters": {
        "method": "GET",
        "url": "https://business-brain-production-0820.up.railway.app/api/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "wih-rest-n8n-2026" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "in:inbox is:unread" },
            { "name": "account", "value": "docs" },
            { "name": "max", "value": "25" }
          ]
        }
      }
    },
    {
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [440, 300],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "flatten-emails",
      "name": "Flatten Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "jsCode": "const emails = [];\nfor (const item of $input.all()) {\n  const messages = item.json.messages || [];\n  const account = item.json.account_email\n    ? (item.json.account_email.includes('docs') ? 'docs' : 'joshua')\n    : 'joshua';\n  for (const msg of messages) {\n    emails.push({ json: { ...msg, account } });\n  }\n}\nreturn emails;"
      }
    },
    {
      "id": "get-full-email",
      "name": "Get Full Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://business-brain-production-0820.up.railway.app/api/email/' + $json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "wih-rest-n8n-2026" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "account", "value": "={{ $json.account }}" }
          ]
        }
      }
    },
    {
      "id": "claude-classify",
      "name": "Claude Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "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" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 256, system: 'You are an email classifier for a real estate investment business. Classify incoming emails with one of these actions and respond ONLY with a JSON object.\\n\\nActions:\\n- archive: newsletters, automated notifications, marketing, receipts, shipping updates, social media digests, no reply required\\n- needs_review: tenant communications, vendor quotes, non-urgent business emails, general inquiries\\n- urgent: lease issues, maintenance emergencies, legal notices, eviction-related, payment disputes, time-sensitive deadlines within 48 hours\\n- escalate: anything requiring immediate human decision, threats, legal action, lender/investor issues, anything that could cost >$1000 if ignored\\n\\nRespond ONLY with this JSON (no other text):\\n{\"action\": \"<action>\", \"reason\": \"<10 word max reason>\"}', messages: [{ role: 'user', content: 'From: ' + $json.from + '\\nSubject: ' + $json.subject + '\\nDate: ' + $json.date + '\\n\\n' + ($json.body ? $json.body.substring(0, 1500) : ($json.snippet || '')) }] }) }}"
      }
    },
    {
      "id": "parse-classification",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300],
      "parameters": {
        "jsCode": "const results = [];\nconst claudeItems = $input.all();\nconst emailItems = $('Get Full Email').all();\n\nfor (let i = 0; i < claudeItems.length; i++) {\n  const claudeItem = claudeItems[i];\n  const emailItem = emailItems[i] || emailItems[0];\n  const content = claudeItem.json.content?.[0]?.text || '{\"action\":\"needs_review\",\"reason\":\"parse error\"}';\n  let classification;\n  try {\n    classification = JSON.parse(content);\n  } catch (e) {\n    const match = content.match(/\\{[^}]+\\}/);\n    classification = match ? JSON.parse(match[0]) : { action: 'needs_review', reason: 'parse error' };\n  }\n  results.push({\n    json: {\n      ...emailItem.json,\n      action: classification.action || 'needs_review',\n      reason: classification.reason || '',\n    }\n  });\n}\nreturn results;"
      }
    },
    {
      "id": "action-router",
      "name": "Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1540, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "archive",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "outputIndex": 0
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "needs_review",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "outputIndex": 1
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "urgent",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "outputIndex": 2
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "escalate",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "outputIndex": 3
            }
          ]
        },
        "fallbackOutput": "none"
      }
    },
    {
      "id": "do-archive",
      "name": "Mark Read + Archive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 80],
      "parameters": {
        "method": "POST",
        "url": "https://business-brain-production-0820.up.railway.app/api/archive",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "wih-rest-n8n-2026" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ message_id: $json.message_id, account: $json.account }) }}"
      }
    },
    {
      "id": "label-needs-review",
      "name": "Label Needs-Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 240],
      "parameters": {
        "method": "POST",
        "url": "https://business-brain-production-0820.up.railway.app/api/label",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "wih-rest-n8n-2026" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ message_id: $json.message_id, account: $json.account, label_name: 'AI/Needs-Review', action: 'add' }) }}"
      }
    },
    {
      "id": "label-urgent",
      "name": "Label Urgent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 400],
      "parameters": {
        "method": "POST",
        "url": "https://business-brain-production-0820.up.railway.app/api/label",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "wih-rest-n8n-2026" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ message_id: $json.message_id, account: $json.account, label_name: 'AI/Urgent', action: 'add' }) }}"
      }
    },
    {
      "id": "label-escalate",
      "name": "Label Escalate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 560],
      "parameters": {
        "method": "POST",
        "url": "https://business-brain-production-0820.up.railway.app/api/label",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "wih-rest-n8n-2026" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ message_id: $json.message_id, account: $json.account, label_name: 'AI/Escalate', action: 'add' }) }}"
      }
    },
    {
      "id": "telegram-notify",
      "name": "Telegram Notify Mostafa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 560],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8974292507:AAF0XUjcvkUjGvQabFrCWrTGw9GR9zM3n0Y/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ chat_id: '8107031523', text: '🚨 ESCALATE EMAIL\\n\\nFrom: ' + $json.from + '\\nSubject: ' + $json.subject + '\\nAccount: ' + $json.account + '@webberinvestmenthomes.com\\nReason: ' + $json.reason + '\\n\\nSnippet: ' + ($json.snippet ? $json.snippet.substring(0, 200) : '') }) }}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Fetch Joshua Unread", "type": "main", "index": 0 },
          { "node": "Fetch Docs Unread", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Joshua Unread": {
      "main": [
        [{ "node": "Merge Results", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Docs Unread": {
      "main": [
        [{ "node": "Merge Results", "type": "main", "index": 1 }]
      ]
    },
    "Merge Results": {
      "main": [
        [{ "node": "Flatten Emails", "type": "main", "index": 0 }]
      ]
    },
    "Flatten Emails": {
      "main": [
        [{ "node": "Get Full Email", "type": "main", "index": 0 }]
      ]
    },
    "Get Full Email": {
      "main": [
        [{ "node": "Claude Classify", "type": "main", "index": 0 }]
      ]
    },
    "Claude Classify": {
      "main": [
        [{ "node": "Parse Classification", "type": "main", "index": 0 }]
      ]
    },
    "Parse Classification": {
      "main": [
        [{ "node": "Action Router", "type": "main", "index": 0 }]
      ]
    },
    "Action Router": {
      "main": [
        [{ "node": "Mark Read + Archive", "type": "main", "index": 0 }],
        [{ "node": "Label Needs-Review", "type": "main", "index": 0 }],
        [{ "node": "Label Urgent", "type": "main", "index": 0 }],
        [{ "node": "Label Escalate", "type": "main", "index": 0 }]
      ]
    },
    "Label Escalate": {
      "main": [
        [{ "node": "Telegram Notify Mostafa", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
